{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header role="banner" class="pos-f-t navbar navbar-full navbar-light bg-faded navbar-static-top moodle-has-zindex" style="padding-left:250px;">

    <div class="container-fluid navbar-nav">
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div data-region="drawer-toggle">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn pull-xs-left m-r-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>
        <a href="{{{ config.wwwroot }}}" class="navbar-brand logo-escribiendo">
            {{# output.should_display_navbar_logo }}
                <span class="logo hidden-xs-down">
                    <img src="{{output.get_compact_logo_url}}" alt="">
                </span>
            {{/ output.should_display_navbar_logo }}
            <span class="site-name hidden-sm-down"></span>
        </a>
</div>
       
<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	<div class="container">
	<div class="row">
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	<form class="form-inline" method="get" action="{{{ config.wwwroot }}}/mod/emarking/activities/search.php">
	<div class="form-group pull-right">
    <input class="form-control float-right" type="text" name="search" placeholder="Buscar actividades" size="40">
    <button id="searchbutton"class="btn btn-md btn-primary"  name="searchbutton">Buscar</button>
    </form>
 	</div>
 	</div>
 	</div>  
	</div>
	<div class="row">



  
        <nav class="nav navbar-nav hidden-md-down">
            <!-- custom_menu -->
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
            </nav>
            
            
 <div class="menu_login">
            {{#username}}
<div class="dropdown" style="padding">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
     {{username}}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{{ config.wwwroot }}}/mod/emarking/activities/my.php">Mis Cursos</a>
      {{#isadmin}}
      <a class="dropdown-item" href="{{{ config.wwwroot }}}/mod/emarking/activities/assignmarker.php">Asignar Corrector</a>
      <a class="dropdown-item" href="{{{ config.wwwroot }}}/mod/emarking/activities/genres.php">Géneros</a>
      <a class="dropdown-item" href="{{{ config.wwwroot }}}">Moodle</a>
      <a class="dropdown-item" href="{{{ config.wwwroot }}}/mod/emarking/activities/testmarkingdata.php">Seguimiento de correctores</a>
      {{/isadmin}}
      <a class="dropdown-item" href="{{{ config.wwwroot }}}/mod/emarking/activities/createactivity.php">Crear Actividad</a>
      <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="{{{ config.wwwroot }}}/login/logout.php"> <button type="button" class="btn btn-danger">Cerrar sesión</button></a>
    </div>
  </div>
{{/username}}
{{^username}}
<a href="{{{ config.wwwroot }}}/login/index.php"><img src="{{img_login}}"></a>
{{/username}}  


        </div>
      
       </div>
    </div>
   </div>
</header>

