/* stylelint-disable color-hex-length */
/**
 * Default preset file.
 *
 * Use this space to customise variables, create mixins and override SCSS.
 */

// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #71A7BB !default;
$brand-info:                #ad53b2 !default;
$brand-success:             #77b300 !default;
$brand-warning:             #ff8800 !default;
$brand-danger:              #ff4136 !default;
$brand-inverse:             #353535 !default;
$navbar-height:             15px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Body
$body-bg:    #f4f4f4 !default;
$body-color: #262626 !default;

// Typography
$font-family-sans-serif: "Century Gothic", "Myriad Pro", "Myriad Pro Light" !default;
$font-size-root: 15px !default;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                lighten($brand-primary, 55%) !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #f4f4f4 !default;

// Dropdowns
$dropdown-border-color:          #e2e2e2 !default;
$dropdown-link-color:            $body-color;

// Navbar
$navbar-light-color:                #DAE5EC !default;
$navbar-light-hover-color:          $brand-primary !default;
$navbar-light-active-color:         $brand-primary !default;


// Cards
$card-border-radius:       0 !default;
$card-border-color:        rgba(238, 238, 238, 1) !default;

// Breadcrumbs
$breadcrumb-bg:                 transparent !default;
$breadcrumb-padding-x:          0 !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Import everything.
@import "moodle";

/**
 * Navigation bar identity.
 */
.navbar-light {
    background-color: #fff;
    border-bottom: $border-width solid #e5e5e5;

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: $spacer * 2;
        color: #fff;
        
            
        }
    

    .navbar-nav {
        .nav-item + .nav-item {
            margin-left: $spacer * 2;
        }
        .nav-link {
            font-family: "Berlin Sans FB", "Berlin Sans FB Demi", Arial, Helvetica;
			font-size: 2.4em;
			text-transform: capitalize;
			color: #DAE5EC;
        }
        
    }
}
.logo-escribiendo{
	background-image: url([[pix:theme|logos]]);
	background-repeat: no-repeat;
	margin-left: 5px;
	min-height: 140px;
	min-width: 190px;
}

body{
	padding-top: 145px;
}
#nav-drawer{
padding-top: 145px;
}

.navbar{
	max-height: none;
	margin-bottom: 0px;
	background-color: #00547C;
}
/** Page header */
#page-header {
    .logo {
     
        img {
            min-height: 190px;
            max-height: 190px;
        }
    }
}

header {
    .logo img {
        min-height: 190px;
        max-height: 190px;
    }

}
.text_nav {
	font-family: "Berlin Sans FB", "Berlin Sans FB Demi", Arial, Helvetica;
	font-size: 1.5em;
	text-transform: capitalize;
}
/**
 * Styling the dropdown menus.
 */
.dropdown-menu {
	background-color: #00547c;
    font-size: 14px;
    border-radius: 6px;
    color: #DAE5EC;
	text-decoration: none;
    .dropdown-item {
    	font-weight: bold;
    	color: #DAE5EC;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: none;
        &:last-child {
            border-bottom: 0;
        }
    }
    
    
}
.dropdown-menu:hover{
	color: black;
	font-weight: bold;
}
.menu_login{
padding-left: 670px;
padding-top: 25px;
}
/**
 * User picture.
 */
.userpicture {
    border-radius: 50%;
}

/**
 * For background in content areas.
 */
#page.container-fluid {
    padding: 0 (2 * $spacer);
}

#block-region-side-pre {
    padding-left: 0;
}

/**
 * Dashboard styling.
 */
#page-my-index {
    #region-main {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
}

/**
 * Blocks.
 */
.block-region .card-block {
    .card-title {
        padding-bottom: ($spacer/2);
        font-size: 1.143rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

/**
 * Navigation.
 */
.block_navigation,
.block_settings {
    .block_tree .tree_item {
        margin: ($spacer/2) 0;
    }
}

/**
 * Form styles.
 */

.form-group {
    margin-top: ($spacer/2);
}

.form-inline .form-group {
    margin-top: 0;
}

/**
*MOdificaciones
*/
.dropdown-toggle{
background-color: #00547c;
font-weight: bold;
}
/* footer */
#container_footer, #container2_footer, #container3_footer {
	width: 100%;
	background-color: #353535;
	position: relative;
}
#container_footer {
	height: 80px;
	vertical-align: baseline;
}
#container2_footer {
	height: 90px;
}


.clear {
	clear: both;
}

.col01_footer {
	float: left;
	width: 80%;
	height: 80px;
	background-image:url(../img/footer/tit_contacto.png);
	background-repeat: no-repeat;
}

.col02_footer {
	float: right;
	width: 5%;
	position: relative;
}

.col02a_footer {
	float: right;
	width: 15%;
	position: relative;
}

.col03_footer {
	float: left;
	margin-left: 30px;
	margin-top: 0px;
	width: 40%;
	color: #F90;
	font-size: 1.0em;
	position: relative;
}

.col03a_footer {
	float: right;
	padding-right: 10px;
	text-align: right;
	width: 50%;
	color: #999;
	font-size: 0.8em;
}

.col03b_footer {
	float: left;
	margin-left: 30px;
	width: 27%;
	color: #F90;
	font-size: 1.0em;
	position: absolute;
	left: 4px;
	bottom: 5px;
}

.col03c_footer {
	float: left;
	margin-left: 30px;
	width: 25%;
	color: #F90;
	font-size: 1.0em;
	position: relative;
}

hr { margin-top: 2px;}
